body {
  padding-left: 11em;
  font-family: Georgia, "Times New Roman",
        Times, serif;
  color: #FF8A3B;
  background-color: #75F2EE }
  ul.navbar {
    list-style-type: none;
  padding: 0;
  margin: 0;
 position: absolute;
 top: 2em;
 left: 1em;
 width: 9em }
  h1 {
 font-family: Helvetica, Geneva, Arial,
       SunSans-Regular, sans-serif }
ul.navbar li {
 background: white;
 margin: 0.5em 0;
 padding: 0.3em;
 border-right: 2em solid #FFD05A }
ul.navbar a {
 text-decoration: none }
a:link {
 color: #0083B7 }
a:visited {
 color: #01BEE6 }
 address {
 margin-top: 1em;
 padding-top: 1em;
 border-top: thin dotted }
